{% extends "base.html" %}{% block content %}
<section id="contact">
    <!-- Section title -->
    <h1 class="sr-only">Contact</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2 class="sr-only">Subscribe to our newsletter</h2>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="title-content">
                            <h3 class="section-title">本次测试单词量</h2>
                            <p class="subtitle" style="visibility: hidden;" id="word-meaning">///</p>
                            <p></p>
                        </div>
                        <!-- /.title-content -->
                    </div>
                </div>
                <form method="POST" class="subscribe-form" id="set-amount-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-8">
                            <label class="sr-only" for="Email">Email</label>
                            <input type="text" name="exam-amount" id="Email" value="{{ request.user.exam_amount }}">
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" name="set-amount-btn" id="set-amount-btn" class="btn btn-default red-white">设置</button>
                        </div>
                    </div>
                    <!-- /.row -->
                </form>
                <!-- /.subscribe-form -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>{% endblock content %}
