{% extends "base.html" %} {% block content %}
<section id="skills">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="title-content">
                    <h2 class="section-title" id="word-spelling">{{ word.word.word.spelling }}</h2>
                    <p class="subtitle" style="visibility: hidden;" id="word-meaning">{{ word.word.word.meaning }}</p>
                    <p></p>
                    <div id="btn-list">
                        <a class="btn btn-default green-white" id="know-btn">认识</a>
                        <a class="btn btn-default red-white" id="unknow-btn">不认识</a>
                    </div>
                    <form method="POST" id="recite-form">{% csrf_token %}
                        <input type="text" hidden="hidden" name="task-id" value="{{ word.task_id }}">
                    </form>
                </div>
                <!-- /.title-content -->
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="skills-container">
                    <div class="skill">
                        <p class="name">进度</p>
                        <br>
                        <span class="percent" style="left: {{ finished_proportion }};">{{ finished_proportion }}</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ finished_proportion }};">
                                <span class="sr-only">{{ finished_proportion }}</span>
                            </div>
                            <div class="overlay" style="width: {{ remained_proportion }}"></div>
                        </div>
                        <!-- /.progress -->
                    </div>
                    <!-- /.skill -->
                </div>
                <!-- /.skills-container -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function toPercent(point) {
        var str = Number(point * 100).toFixed(0);
        str += "%";
        return str;
    }

    $(document).on("click", "#know-btn", function () {
        var csrftoken = getCookie('csrftoken');
        var task_id = $("form#recite-form [name='task-id']").val();
        console.log(task_id); //DEBUG
        $.ajax({
            url: window.location.href,
            type: "POST",
            data: {
                "csrfmiddlewaretoken": csrftoken,
                "task-id": task_id,
                "know": "know",
            },

            success: function (json) {
                var word_spelling = $("#word-spelling");
                var task_id = $("input[name='task-id']");
                var word_meaning = $("#word-meaning");

                console.log(json); //DEBUG
                remained_persent = toPercent(json['proportion']);
                finished_persent = toPercent(1 - json['proportion']);
                $(".percent").css("left", finished_persent);
                $(".percent").text(finished_persent);
                $(".progress-bar").css("width", finished_persent);
                $(".overlay").css("width", remained_persent);
                if (json['word_spelling'] == null) {
                    alert('您已经完成今日学习任务!');
                    window.location.href = '/recite/home';
                }
                else {
                    word_spelling.text(json['word_spelling']);
                    task_id.val(json['task_id']);
                    word_meaning.text(json['word_meaning']);
                }
            }
        });
    });

    $(document).on("click", "#unknow-btn", function () {
        $("#word-meaning").attr("style", "visibility: visiable;");
        console.log($("#word-meaning").css("visibility")); // DEBUG
        $("#btn-list").empty();
        $("<a class='btn btn-default red-white' id='next-word'>下一个</a>").appendTo($("#btn-list"))
    });

    $(document).on("click", "#next-word", function () {
        var csrftoken = getCookie('csrftoken');
        var task_id = $("form#recite-form [name='task-id']").val();
        console.log(task_id); // DEBUG
        $.ajax({
            url: window.location.href,
            type: "POST",
            data: {
                "csrfmiddlewaretoken": csrftoken,
                "task-id": task_id,
                "next-word": "next-word",
            },

            success: function (json) {
                var word_spelling = $("#word-spelling");
                var task_id = $("input[name='task-id']");
                var word_meaning = $("#word-meaning");

                console.log(json); //DEBUG
                if (json['word_spelling'] == null) {
                    alert('您已经完成今日学习任务!');
                    window.location.href = '/recite/home';
                }
                else {
                    $("#word-meaning").css("visibility", "hidden");
                    $("#btn-list").empty();
                    $('<a class="btn btn-default green-white" id="know-btn">认识</a>').appendTo($("#btn-list"))
                    $('<a class="btn btn-default red-white" id="unknow-btn">不认识</a>').appendTo($("#btn-list"))
                    word_spelling.text(json['word_spelling']);
                    task_id.val(json['task_id']);
                    console.log(json['word_meaning']); //DEBUG
                    word_meaning.text(json['word_meaning']);
                }

            }
        });
    });
</script> {% endblock content %}