{% extends "base.html" %} {% block content %}
<section id="video">

    <!-- Section title -->
    <h1 class="sr-only">Video</h1>

    <div class="container">

        <div class="row">

            <div class="col-md-10 col-md-offset-1">

                <div class="title-content">
                    {% if is_search %} {% if result %}
                    <h2 class="section-title">
                        {{ result.spelling }}
                    </h2>

                    <p class="subtitle">{{ result.meaning }}</p>

                    <p></p>
                    {% else %}
                    <p class="subtitle">未查询到您的单词</p>
                    {% endif %} {% endif %}

                </div>
                <!-- /.title-content -->

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.contact -->
</section>

{% endblock content %}