{% extends "base.html" %}
{% block content %}
<!--banner-->
    <div id="banner">
        <div class="container intro_wrapper">
            <div class="inner_content">
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" name="searching-word">
                    <br>
                    <button type="submit" name="search" class="btn btn-primary btn-custom">
                        搜索
                    </button>
                </form>
            </div>
        </div>
        </div>
                
        <div class="container wrapper">
        <div class="inner_content">
        <div class="pad30"></div>
        <div class="pad30"></div>
        <div class="pad30"></div>
        <div class="pad30"></div>
        <div class="pad30"></div>
        <div class="pad30"></div>
        <div class="pad30"></div>
        <div class="pad30"></div>
        
        <div class="row">
                {% if is_search %}
                {% if result %}
                <div class="span3"></div>
                <div class="span3">
                <p>
                    {{ result.spelling }}
                </p>
                </div>
                <div class="span6">
                <p>
                    {{ result.meaning }}
                </p>
                </div>
                {% else %}
                <div class="span12">
                <p>
                    未查询到您的单词
                </p>
                </div>
                {% endif %}
            {% endif %}
                <div class="clear"></div>
                <div class="pad25"></div>
                
        
            
        
            
        
                </div>
            </div>
        </div>
        <!--//page-->
        
        
{% endblock content %}
