{% extends "base2.html" %} {% block content %}
<!-- about -->
<div class="about">
    <div class="container">
        <h3>单词书列表</h3>
        {% for wordbook in wordbook_list %}
        <div class="col-md-4">
        <div class="about-grids">
            <div class="col-md-12 about-grid">
                <img src="/static/images/2.jpg" alt=" " class="img-responsive" /><!-- TODO: 修改图片的src -->
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="about-grids-bottom">
            <div class="col-md-12 about-us">
                <h4>{{ wordbook.name }}</h4>
                <p>{{ wordbook.description }}</p>
                <div class="contact-us1-bottom">
                {% ifequal wordbook request.user.current_wordbook %}
                <a href="{% url 'recite_word' %}">
                <input type="submit" name="choose" value="进入学习"></a>
                        
                {% else %}
                <form method="POST" action="{% url 'wordbook_detail' %}">
                        {% csrf_token %}
                        <input type="text" name="wordbook-id" value="{{ wordbook.id }}" hidden="hidden">
                        <input type="submit" name="choose" value="选择">
                                
                </form>
                {% endifequal %}
            </div>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:"3" %}
    <div class="clearfix"> </div>
    {% endif %}
    {% endfor %}
</div>
</div>
            <!--<div class="col-md-4 about-grid">
                <img src="/static/images/3.jpg" alt=" " class="img-responsive" />
                <div class="img-bottom">
                    <p>accusamus et iusto odio malesuada</p>
                </div>
            </div>
            <div class="col-md-4 about-grid">
                <img src="/static/images/9.jpg" alt=" " class="img-responsive" />
                <div class="img-bottom">
                    <p>accusamus et iusto odio malesuada</p>
                </div>
            </div>-->
            
        
        <!--<div class="about-grids-bottom">
            <div class="col-md-4 about-us">
                <h4>About Us</h4>
                <p>Donec rutrum congue leo eget malesuada.Curabitur non nulla sit amet nisl tempus convallis quis ac lactusnisl
                    tempus convallis quis ac lactus.Sed porttitor lactus nibhSed porttitor lactus nibh.Proin eget tortor
                    risus.Nulla porttitor accumsan tincidunt.</p>
            </div>
            <div class="col-md-4 about-us">
                <h4>Who We Are</h4>
                <p>Donec rutrum congue leo eget malesuada.Curabitur non nulla sit amet nisl tempus convallis quis ac lactus.Sed
                    porttitor lactus nibh.</p>
            </div>
            <div class="col-md-4 about-us">
                <h4>Why We Do This</h4>
                <p>Donec rutrum congue leo eget malesuada.Curabitur non nulla sit amet nisl tempus convallis quis ac lactusnisl
                    tempus convallis quis ac lactus.Sed porttitor lactus nibhSed porttitor lactus nibh.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>-->
<!-- about -->
{% endblock content %}