{% extends "base2.html" %} {% block content %}

<!-- Page 2 Gallery One -->

    <div class="cd-full-width">
        <div class="container-fluid js-tm-page-content" data-page-no="2" data-page-type="gallery">
            <div class="tm-img-gallery-container">
                <div class="tm-img-gallery gallery-one">
                    <!-- Gallery One pop up connected with JS code below -->
                    <div class="tm-img-gallery-info-container">
                        <h3 class="tm-text-title tm-gallery-title ">
                            <span >单词书列表</span>
                            </h3>
                            <p class="tm-text">点按图片进入学习或切换单词书
                            </p>
                    </div>
                    {% for wordbook in wordbook_list %}
                    <div class="grid-item">
                        <figure class="effect-ruby">
                            <img src="/static/img/tm-img-01-tn.jpg" alt="Image" class="img-fluid tm-img">
                            <figcaption>
                                
                                    
                                    {% ifequal wordbook request.user.current_wordbook %}
                                    <h3 class="tm-figure-title">进入学习
                                        </h3>
                                        <p class="tm-figure-description"></p>
                        <a href="{% url 'recite_word' %}">
                        </a>

                        {% else %}
                        <h3 class="tm-figure-title">切换至该书
                            </h3>
                            <p class="tm-figure-description"></p>
                        <a  onclick="document.getElementById('change-wordbook').submit();"></a>
                        <form method="POST" action="{% url 'wordbook_detail' %}" id="change-wordbook">
                            {% csrf_token %}
                            <input type="text" name="wordbook-id" value="{{ wordbook.id }}" hidden="hidden">

                        </form>
                        {% endifequal %}
                            </figcaption>
                        </figure>
                        <br>
                        <h3 class="tm-text-title tm-gallery-title">
                                <span>{{ wordbook.name }}</span>
                                </h3>
                        <p class="tm-text">{{ wordbook.description }}</p>
                    </div>
                    {% endfor %}
                    
                    
                    
                </div>
            </div>
        </div>
    </div>

{% endblock content %}