{% extends "base.html" %}
{% block content %}
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="daily-task-amount" value="{{ request.user.daily_task_amount }}">
            {% for wordbook in wordbook_list %}
                <input type="radio" name="wordbook-id" value="{{ wordbook.id }}" {% ifequal wordbook request.user.current_wordbook %} checked {% endifequal %}>{{ wordbook.name }}
            {% endfor %}
            <button type="submit" name="save">保存</button>
        </form>
{% endblock content %}
