{% extends "base.html" %}
{% block content %}
    <body>
        <p>
            修改密码
        </p>
        <form method="POST">
            {% csrf_token %}
            <label for="password1">密码</label>
            <input type="password" name="password1" id="password1"/>
            <br>
            <label for="password2">密码</label>
            <input type="password" name="password2" id="password2"/>
            <br>
            <input type="submit" value="修改密码">
        </form>
{% endblock content %}
