{% extends "base2.html" %} {% block content %}
<!-- contact -->
<div class="contact">
    <div class="container">
        <div class="col-md-4">
            <div class="col-md-3"></div>
            <div class="col-md-6 history-right">
                <ul>
                    <li>
                        <a href="#personal_setting">个人信息设置</a>
                    </li>
                    <li>
                        <a href="#learn_setting">学习设置</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <h3 id="personal_setting">个人信息设置</h3>
            <div class="contact-us1-bottom">
                <form method="POST">
                    {% csrf_token %}
                    <p>用户名</p>
                    <input type="text" name="username" value="{{ request.user.username }}" required="">
                    <br>
                    <p>新密码</p>
                    <input type="password" name="password1">
                    <br>
                    <p>新密码确认</p>
                    <input type="password" name="password2">
                    <br>
                    <p>电子邮箱</p>
                    <input type="email" name="email" value="{{ request.user.email }}" required="">
                    <br>
                    <input type="submit" name="personal_setting" value="保存修改">
                </form>
                <div class="clearfix"> </div>
            </div>
            <br>
            <br>
            <h3 id="learn_setting">学习设置</h3>
            <div class="contact-us1-bottom">
                <form method="POST">
                    {% csrf_token %}
                    <p>每日单词量</p>
                    <input type="text" name="daily-task-amount" value="{{ request.user.daily_task_amount }}">
                    <br>
                    <input type="submit" name="learn_setting" value="保存修改">
                </form>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}